@model IEnumerable<eManager.Domain.Department>

@{
    ViewBag.Title = "List of Department";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.Name)
        </li>
    }
</ul>
