@model IEnumerable<eManager.Domain.Departments>

@{
    ViewBag.Title = "List of Department";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "Details", "Department", new {item.ID}, null)
        </li>
    }
</ul>