@model eManager.Domain.Departments

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    @Html.ActionLink("Add an employee","Create","Employee",new {DepartmentId = Model.ID}, null)
    <table>
        <th>Name</th>
        @foreach (var emp in Model.Employees)
        {
            <tr>
                <td>@emp.Name</td>
            </tr>
        }
    </table>
</div>
